/* #region Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
/* Da decommentare sotto quando il l layout */
  /* border: 1px dashed red; */
}

:root 
{
  --primary: #9792e4;
  --secondary: #0084fd;
  --tertiary: #b5ddff;
  --orange: #fdc15f;
  --dark: #333333;
  --light: #ffffff;
  --light_gray: #d8d8d8;
} 

body
{
  font-family: 'PT Sans', sans-serif;
}

img {
  max-width: 100%;
}
/* #endregion Common */

/* #region Utilities */
.text-center
{
  text-align: center;
}

.d_flex
{
  display: flex;
}

.justify_content_center
{
  justify-content: center;
}

.align_items_center
{
  align-items: center;
}

.container 
{
  width: 85%;
  max-width: 1152px;
  margin: auto;
}

.card {
  border-radius: .5rem;
  margin: 2rem 0;
  padding: 0 2rem;
}

.row 
{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

[class^="col_"]
{
  padding: 0 1rem;
}

.col_4
{
  width: calc(100% / 12 * 4);
}

.col_6 {
  width: calc(100% / 12 * 6);
}

.col_8 {
  width: calc(100% / 12 * 8);
}

.col_12
{
  width: 100%;
}

.btn {
  border-radius: 1rem;
  padding: 0.4rem;
}

.btn_primary
{
  background-color: var(--light);
  color: var(--dark) !important;
}

.btn_secondary 
{
  background-color: var(--secondary);
}

.btn_tertiary
{
  background-color: var(--primary);
}

.circle 
{
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.violet
{
  background-color: var(--primary);
}

.card_light
{
  background-color: var(--light);
  color: var(--dark);
}

.blue
{
  color: var(--secondary);
}

.mb_2
{
  margin-bottom: 2rem;
}
/* #endregion Utilities */

/* #region Debug */
.debug .header
{
  height: 150px;
  border: 1px dashed black;
}

.debug #demo .col_md_8, .debug #demo .col_md_4 
{
  height: 500px;
  border: 1px dashed black;
}

.debug #planning .col_12, .debug #planning .col_lg_6
{
  height: 500px;
  border: 1px dashed black;
}

.debug #planning .card {
  border: 1px dashed black;
}

.debug #testimonials .col_12 
{
  border: 1px dashed black;
  height: 500px;
}

.debug #testimonials .card> 
{
  border: 1px dashed black;
  height: 400px;
}

.debug #benefit .col_12, .debug #benefit .col_md_6, .debug #benefit .col_lg_4
{
  border: 1px dashed black;
  height: 400px;
}

.debug #about .col_12, .debug #about .col_md_8, .debug #about .col_md_4
{
  border: 1px dashed black;
  height: 400px;
}

.debug #price .col_12
{
  border: 1px dashed black;
  height: 400px;
}

.debug #site_footer .col_12
{
  border: 1px dashed white;
  height: 400px;
}
/* #endregion Debug */

/* #region Header */
#site_header
{
  background-color: var(--secondary);
  position: sticky;
  top: 0;
  left: 0;
}

#site_header .row:not() {
  margin: 0 -1rem;
}

#site_header,
#site_header nav ul li a
{
  color: var(--light);
}

#site_header img, #site_header i,
#site_header nav ul 
{
  align-items: center;
  display: flex;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

#site_header nav ul 
{
  display: none;
  list-style: none;
  gap: .5rem;
}

#site_header nav ul li a
{
  text-decoration: none;
}

#navigator 
{
  display: flex;
  justify-content: flex-end;
}
/* #endregion Header */

/* #region Main */
/* #region Demo */
#demo .card h2 
{
  font-size: 1.4rem;
  color: var(--secondary);
  margin: 2rem 0;
}

#demo .card div {
  margin: 2rem;
}

#demo .card
{
  background-color: var(--tertiary);
}

#demo .card div a 
{
  color: var(--light);
  text-decoration: none;
}

.demo i 
{
  margin-top: 2rem;
}

.demo .card p
{
  margin-bottom: 2rem;
}
/* #endregion Demo */

/* #region Planning */
/* Planning */
#planning
{
  background-color: var(--primary);
  color: var(--light);
  margin-top: 3rem;
}

#planning .card {
  margin-top: 3rem;
}

#planning .card h2 {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

#div_circle {
  width: 2rem;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #endregion Planning */

/* #region Testimonials */
#testimonials .card 
{
  flex-direction: column;
  color: var(--light);
  padding: 1rem;
}

#testimonials img 
{
  margin: 1rem 0;
}

#testimonials strong
{
  margin-top: 2rem;
  font-size: 1rem;
  padding-bottom: 1rem;
}

#testimonials  h2
{
  margin-top: 1rem;
  font-size: 1.9rem;
  color: var(--primary);
  margin-bottom: 2rem;
}

#testimonials span
{
  font-size: 1rem;
  line-height: 2rem;
}
/* #endregion Testimonials */

/* Benefit */
#benefit {
  background-color: var(--primary);
}


#benefit h2
{
  color: var(--light);
  padding-top: 3rem;
  padding-bottom: 1rem;
}

#benefit h3 
{
  font-size: 3rem;
}

#benefit h3, #benefit h4
{
  color: var(--primary);
}

#benefit p
{
  color: var(--light_gray);
  line-height: 1.5rem;
  font-size: 0.7rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

#benefit .btn
{
  margin-bottom: 2rem;
  width: 60%;
}

#benefit a
{
  color: var(--light);
  text-decoration: none;
}

/* About */
#about h2
{
  padding: 2rem 0;
}

#about h2, #about strong
{
  color: var(--primary);
}

#about p 
{
  line-height: 2;
}

/* #about strong
{
  margin: 2rem 0;
} */

#about a
{
  text-decoration: none;
  color: var(--light);
}
/* Price */
#price
{
  background-color: var(--primary);
}
/* #endregion Main */

/* #region Footer */
#site_footer {
  background-color: var(--dark);
  color: var(--light);
}
/* #endregion Footer */

/* #region Media query */
/* Tablet */
@media screen and (min-width: 768px) {
#demo .col_12
{
  margin: 0;
}

.container {
  width: 90%;
}

.col_md_4
{
  width: calc(100% / 12 * 4);
}

.col_md_6
{
  width: calc(100% / 12 * 6);
}

.col_md_8
{
  width: calc(100% / 12 * 8);
}

#demo .container 
{
  margin-top: 2rem;
}

#planning {
  margin-top: 4rem;
}
}

/* Desktop */
@media screen and (min-width: 1200px) {
.container
{
  width: 70%;
}

.col_lg_4 
{
  width: calc(100% / 12 * 4);
}

.col_lg_6 
{
  width: calc(100% / 12 * 6);
}

 
#site_header nav ul 
{
  display: flex;
}

#site_header i {
  display: none;
}

}
/* #endregion Media query */