/* #region Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #9792e4;
  --secondary: #0084fd;
  --tertiary: #b5ddff;
  --orange: #fdc15f;
  --dark: #333333;
  --light: #ffffff;
} 

body {
  font-family: 'PT Sans', sans-serif;
}

/* #endregion Common */

/* #region Utilities */
.container {
  width: 80%;
  max-width: 1152px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 --1rem;
}

[class^="col_"] {
  padding: 0 1rem;
}

.col {

}
/* #endregion Utilities */

/* #region Header */
/* #endregion Header */

/* #region Main */
/* #endregion Main */

/* #region Footer */
/* #endregion Footer */

/* #region Media query */
/* #endregion Media query */