/* #region Common */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root 
{
  --primary: #9792e4;
  --secondary: #0084fd;
  --tertiary: #b5ddff;
  --orange: #fdc15f;
  --dark: #333333;
  --light: #ffffff;
} 

body
{
  font-family: 'PT Sans', sans-serif;
}

/* #endregion Common */

/* #region Utilities */
.container 
{
  width: 85%;
  max-width: 1152px;
  margin: auto;
}

.row 
{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

[class^="col_"]
{
  padding: 0 1rem;
}

.col_4
{
  width: calc(100% / 12 * 4);
}

.col_6 {
  width: calc(100% / 12 * 6);
}

.col_8 {
  width: calc(100% / 12 * 8);
}

.col_12
{
  width: 100%;
}
/* #endregion Utilities */

/* #region Debug */
.debug .header
{
  height: 150px;
  border: 1px dashed black;
}

.debug #demo .col_md_8, .debug #demo .col_md_4 
{
  height: 500px;
  border: 1px dashed black;
}

.debug #planning .col_12, .debug #planning .col_lg_6
{
  height: 500px;
  border: 1px dashed black;
}

.debug #planning .card {
  border: 1px dashed black;
}
/* #endregion Debug */

/* #region Header */
#site_header
{
  background-color: var(--secondary);
}

#bars 
{
  display: flex;
  justify-content: flex-end;
}
/* #endregion Header */

/* #region Main */
/* Demo */
#demo .col_12 */
{
  margin: 1rem;
}

/* Planning */
#planning {
  background-color: var(--primary);
  margin-top: 3rem;
}

/* #planning .card {
  margin-top: 3rem;
} */
/* #endregion Main */

/* #region Footer */
/* #endregion Footer */

/* #region Media query */
/* Tablet */
@media screen and (min-width: 768px) {
#demo .col_12
{
  margin: 0;
}

.container {
  width: 90%;
}

.col_md_4
{
  width: calc(100% / 12 * 4);
}

.col_md_8
{
  width: calc(100% / 12 * 8);
}

#demo .container 
{
  margin-top: 2rem;
}

#planning {
  margin-top: 4rem;
}
}

/* Desktop */
@media screen and (min-width: 1200px) {
.container
{
  width: 70%;
}

.col_lg_6 
{
  width: calc(100% / 12 * 6);
}

#bars {
  display: none;
}
}
/* #endregion Media query */